{% load static %}
{% if user.is_authenticated %}
    <html>
        <head>
            <title>Kister</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="/static/css/style.css">
        </head>
        <body>
            {{ user.get_username }}
            {% if user.get_username == 'Law' or user.is_superuser %}
                <div class="container header">
                    <a href="{% url 'company_list' %}"><div>Список Компаний</div></a>
                    <a href="{% url 'mail_list' %}"><div>Список Писем</div></a>
                    <a href="{% url 'expired_list' %}"><div>Просроченные</div></a>
                </div>
            {% endif %}
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </body>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/code.js' %}"></script>
    </html>
{% endif %}