{% extends 'blog/base.html' %}
{% block content %}
    <div class="entity_list">
        {% if company %}
            <h1>Контрагенты {{ company }}</h1>
        {% endif %}
        <div id="check_list">
            {% for dogovor in dogovors %}
                <a href="{% url 'dogovor_list' pk=dogovor.own_company.id pk_alt=dogovor.side_two.id %}" class="{{dogovor.side_two.name}}" id="{{dogovor.side_two.name}}">
                    <div class="name">{{ dogovor.side_two.name }}</div>
                </a>
                {% if dogovor.side_three != None %}
                    <a href="{% url 'dogovor_list' pk=dogovor.own_company.id pk_alt=dogovor.side_three.id %}" class="{{dogovor.side_three.name}}" id="{{dogovor.side_three.name}}">
                        <div class="name">{{ dogovor.side_three.name }}</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}