{% extends 'blog/base.html' %}
{% block content %}
    {% if mail %}
        <div class="pdf">
            <div class="logo">
                {% if mail.own_company.name == 'Planeta doors' %}
                    <img src="/media/images/logo.png">          
                {% elif mail.own_company.name == 'ИП Арынов' %}
                    ИП Арынов
                {% elif mail.own_company.name == 'Двери.опт' %}
                    Двери.опт
                {% elif mail.own_company.name == 'Двери.класс' %}
                    Двери.класс
                {% elif mail.own_company.name == 'ТОО Beltaus' %}
                    ТОО Beltaus
                {% elif mail.own_company.name == 'ИП Таишев' %}
                    ИП Таишев
                {% elif mail.own_company.name == 'Kendala IMPEX' %}
                    Kendala IMPEX
                {% elif mail.own_company.name == 'Kendala Logistics' %}
                    Kendala Logistics
                {% elif mail.own_company.name == 'Delta Doors' %}
                    Delta Doors
                {% elif mail.own_company.name == 'Senim Doors' %}
                    Senim Doors
                {% elif mail.own_company.name == 'Двери Опт Актау' %}
                    Двери Опт Актау
                {% elif mail.own_company.name == 'Двери Опт Шымкент' %}
                    Двери Опт Шымкент
                {% endif %}
            </div>
            
            <div class="ebin">БИН: {{ mail.own_company.ebin }}, Адрес: {{ mail.own_company.adress }}</div>
            <div class="info">
                <div>Исходящий № <strong>{{ mail.out_number }}</strong> <br> 
                    Номер отслеживания <strong>{{ mail.track }}</strong>
                </div>
                <div> {{ mail.side_two.get_etype_display }} {{ mail.side_two.name  }}<br>
                    {{ mail.side_two.adress }} <br>
                   <span>
                        {% if time %}
                            {{ time| date:"d M Y" }} год
                        {% endif %}
                    </span> 
                </div>
            </div>
            <div class="title">Сопроводительное письмо</div>
            <p id="topic">{{ mail.topic }}</p>
            <div class="sign">
                <div>Место печати</div>
                <div>Исполнитель <br> Офис Менеджер <br> <strong> {% if mail.own_company.id == 15 %}Aktau  {% elif mail.own_company.id == 16 %} Shymkent {% else %} Амирханова Дария {% endif %}</strong> <br> <br> Подпись_____________</div>
            </div>
        </div>

        <script>
            let increaser = 0
        </script>
        {% for num in nums %}
        
            <script>
                counter();
                function counter(){
                    increaser++;
                    console.log(increaser);
                }
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}