{% extends 'blog/base.html' %}
{% block content %}
    <div class="mail_detail">
        {% if mail and mail.status == 'incoming' %}
            <div class="title">Входящие письмо</div>
            Инициатор: {{ mail.init }} {{ mail.init.email }} {{ mail.init.phone }} <br>
            Дата: {{ mail.created_at }} <br>
            Кому: {{ mail.own_company }} <br>
            От кого: {{ mail.side_two }} <br>
            Тема: {{ mail.topic }} <br>
            {% if mail.upload_file %}
                File:  <a href="{{ mail.upload_file.url }}">File</a> <br>
            {% endif %}
            
            {% if mail.response_to != None %}
                Письмо является ответом на: <a href="{% url 'mail_detail' status=mail.response_to.status pk=mail.response_to.id %}">{{ mail.response_to }}</a> <br>
            {% endif %}
        {% elif mail.status == 'outcoming' %}
            <div class="title">Исходящие письмо</div>
            Status: {{ mail.status }} <br>
            Дата: {{ mail.created_at }} <br>
            Кому: {{ mail.side_two }} <br>
            От кого: {{ mail.own_company }} <br>
            Тема: {{ mail.topic }} <br>
            {% if mail.upload_file %}
                File:  <a href="{{ mail.upload_file.url }}">File</a> <br>
            {% endif %}
            {% if mail.response_to != None %}
                Письмо является ответом на: <a href="{% url 'mail_detail' status=mail.response_to.status pk=mail.response_to.id %}">{{ mail.response_to }}</a> <br>
            {% endif %}

        {% endif %}

        {% for response in responses %}
            Есть ответ на это письмо: <a href="{% url 'mail_detail' status=response.status pk=response.id %}">{{ response.status }}</a> <br>
        {% endfor %}
    </div>
{% endblock %}