.dogovor_list .folder img {
  width: 150px;
}

.dogovor_list .folder .name {
  margin-top: 30px;
}

.dogovor_list .folder:hover {
  cursor: pointer;
}

.entity_list .name {
  margin-top: 10px;
  font-size: 18px;
}

.entity_list h1 {
  margin-bottom: 20px;
}

.super_only {
  border: 1px solid red;
}
