.dogovor_list .folder img {
  width: 150px;
}

.dogovor_list .folder .name {
  margin-top: 30px;
}

.dogovor_list .folder:hover {
  cursor: pointer;
}

.dogovor_list .plus {
  width: 60px;
}

.entity_list .name {
  margin-top: 10px;
  font-size: 18px;
}

.entity_list h1 {
  margin-bottom: 20px;
}

.super_only {
  border: 1px solid red;
}

.poisk .input {
  display: none;
}

.header {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
}

.header div {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
}

.mail_list .left {
  border-right: 1px solid black;
  padding-bottom: 200px;
}

.mail_list .title {
  font-weight: bold;
  font-size: 20px;
}

.mail_list .sub_title {
  font-weight: bold;
  font-size: 16;
  margin-bottom: 20px;
  margin-top: 10px;
}

.mail_list .sub_label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.mail_list .top {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mail_list .top .plus {
  width: 50px;
}

.mail_list input {
  display: none;
}

.mail_search .hade {
  display: none;
}

.mail_detail .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

.dogovor_detail #wrap {
  display: none;
}

.dogovor_detail #delete {
  margin-top: 400px;
}

.dogovor_detail .row {
  font-size: 16px;
  border-bottom: 1px solid black;
}

.dogovor_detail .row .col-md-3 {
  font-weight: bold;
}

.search_list .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.search_list .sub_titles {
  font-weight: bold;
  font-size: 14px;
}

.search_list .line {
  border-bottom: 1px solid black;
}

.search_list form .title {
  margin-bottom: 0;
}

.mail_new .hade {
  display: none;
}

.mail_edit form p:nth-child(2) {
  display: none;
}

.mail_edit .visible span {
  font-weight: bold;
}

.mail_edit .hade {
  display: none;
}

.pdf .logo {
  height: 170px;
  font-size: 64px;
  text-align: center;
}

.pdf .logo img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.pdf .title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.pdf p {
  margin-bottom: 40px;
}

.pdf .sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pdf .info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.pdf .info span {
  font-size: 12px;
}

.pdf #topic {
  padding: 0 100px;
}
